nav {
  background-color: antiquewhite;
}
 ul li {
  display: inline;
  justify-content: right;
  align-items: center;
  margin: 15px;
  text-decoration: none;
  height: 20px;
  width: 80px;
  border-radius: 5px;    
}
a {
  color: black;
  text-decoration: none;
}
ul li a:hover {
color: orange;
}
.search {
  width: 330px;
  float: right;
  margin-left: 270px;
}
.srch {
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background:transparent;
  border: solid orange;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn {
  width: 100px;
  height: 40px;
  background: orange;
  border: 2px solid orange;
  margin-top: 13px;
  color: white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}
footer ul li {
  display: inline;
  margin: 10px;
 
}
footer {
  text-align: center;
  background-color: antiquewhite;
  list-style: none;
  padding: 8px 12px;
}
nav img {
  float: left;
  width: 70px;
  padding-bottom: 15px;
   
}
.image {
  position: relative;
  bottom: 10px;
}
.nepal-village {
  width: 500px;
  height: 150px;
}
nav {

  text-align: right;
  padding: 12px;

}
.main1 {
  background-image: url(../Image/nepal-village.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 100px;
  text-align: center;
  padding-top: 200px;
}

.hotels {
  float: left;
  border: 1px solid red;
  width: 33%;
  height: 200px;
  margin-top: 10px;
  margin-right: 2px; 
}
.hotels {
  background-color: bisque;
}
.container:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  
}
.welcome {
  font-size: 100px;
}
nav .image {
  margin-bottom: 15px;
}
.text-box {
  background-color: aqua;
  text-align: center;
}
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;

}
.form {
  width: 250px;
  height: 380px;
  background: orange;
  position:absolute;
  top: 100px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
  
}

.container1 {
  width: 300px;
  height: 225px;
 
}
.container1 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.container1 iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer .icon {
  font-size: 2.5rem;

}
footer .copy {
  background-color: antiquewhite;
  text-align: left;
}
  